h1{
}
p{
}
div.item{
	padding: 10px;
	margin: 20px;
}
div.head{
	display: flex;
	justify-content: space-between;
}
div.descs{
}
p.name{
	font-weight: bold;
}
p.group{
	color: green;
	text-align: right;
}
p.desc{
}
span.no_link{
	color: red;
}
